<p>Исходный массив</p>
<p><%= @orig_array.split.map(&:to_f).join(" | ") %></p>
<p>Новый массив</p>
<p><%= @fixed %></p>

<p>Произведение кратных 5</p>
<p><%= @sum %></p>
<%= link_to "Вернуться назад", home_path %>